<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> vitalME </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vitalME</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Information</ion-card-subtitle>
      <ion-card-title>Health Check</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Your health is all good! Keep drinking water & exercising regularly.
    </ion-card-content>
  </ion-card>
</ion-content>
